
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-storages
django-redis
django-jazzmin
drf-spectacular
django-apscheduler
django-debug-toolbar
PyJWT
PyMySQL
pytest
python-dateutil
python-decouple
python-dotenv
requests
django-filter